html {
    background-color: #b6ffff;
    font-family: "Fredoka One"
}
button {
    font-size: 17.5px;
    background-color: rgb(255, 195, 83);
    width: 25%;
    font-family: "Fredoka One";
    color: rgb(222, 0, 0)
}
div {
    align-items: center;
    height: 100%
}
