html {
    background-color: #b6ffff;
    font-family: "Fredoka One";
    align-items: center
}
button {
    font-size: 17.5px;
    background-color: rgb(255, 195, 83);
    width: 45%;
    font-family: "Fredoka One";
    color: rgb(222, 0, 0)
}
